div.cajaazul{
    background-color: blue;
    width: 33%;
    height: 400px; 
    display: inline;
}
div.cajaamarillo{
    background-color: yellow;
    width: 33%;
    height: 400px;
    display: inline;
}
div.cajaroja{
    background-color: red;
    width: 33%;
    height: 400px;
    display: inline;
}
div.verde{
    background-color: green;
}