span.cajaazul{
    background-color: blue;
    border: 150px solid blue;
    width: 250px;
    height: 150px; 
}
span.cajaamarillo{
    background-color: yellow;
    border: 150px solid yellow;
    width: 250px;
    height: 150px;
}
span.cajaroja{
    background-color: red;
    border: 150px solid red;
    width: 250px;
    height: 150px;
}